@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #647acb #e4e7eb;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #e4e7eb;
}

*::-webkit-scrollbar-thumb {
  background-color: #647acb;
  border-radius: 10px;
  border: 3px solid #e4e7eb;
}

body {
  @apply bg-cool-grey-100 text-cool-grey-800 font-mono;
}

.input {
  @apply border-orange-300 text-white p-3.5 w-64 border-b-2 rounded-xl;
}

.icon {
  @apply h-6 cursor-pointer brightness-50;
}

.owner {
  @apply flex-row-reverse;
}

.owner p {
  @apply bg-indigo-400 text-white rounded-xl rounded-tr-none;
}
